{% extends 'base.html' %} {% block title %} Flask-Blog About page {% endblock %}
{% block content %}
<section>
  <h1>Page Not Found 😢</h1>
  <p>The requested page is not found on our server</p>

  <style>
    header {
      margin-bottom: 0;
    }

    section {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: azure;
      height: 92vh;
      flex-direction: column;
    }

    h1 {
      font-size: 6rem;
      font-weight: 800;
    }

    p {
      font-size: 2rem;
      font-weight: 300;
      margin-right: 6rem;
    }
  </style>
</section>
{% endblock %}
