{% extends 'base.html' %} {% block title %} Flask-Blog About page {% endblock %}
{% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/style.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/account.css') }}"
/>

{% endblock %} {% block content %}
<!-- feedback -->
{% with messages = get_flashed_messages(with_categories=True) %} {% if messages
%}
<div>
  {% for category, message in messages %}
  <div class="feedback feedback--{{ category }}">
    <i class="fas fa-check-circle"></i>
    <span>{{ message }}</span>
  </div>
  {% endfor %}
</div>
{% endif %} {% endwith %}

<section class="account-section">
  <div class="profile-section">
    <div class="profile-info">
      <div class="profile-picture">
        {% if current_user.image_file %}
        <img
          src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}"
          alt="Profile Picture"
        />
        {% else %}

        <img src="{{img_file }}" alt="profile-picture" />
        {% endif %}
      </div>

      <div class="profile-text">
        <h2 class="username">{{ current_user.username }}</h2>
        <p class="email">{{ current_user.email }}</p>
      </div>
    </div>
    <p class="account-info">Account Info</p>
    <form
      action="/account"
      method="POST"
      novalidate
      enctype="multipart/form-data"
      class="form"
    >
      {{ form.hidden_tag() }}
      <div>
        <!-- {{ form.username.label }} -->
        {% if form.username.errors %} {{ form.username(id="input-border-error")
        }} {% for error in form.username.errors %}
        <p class="form-error-message">{{ error }}</p>
        {% endfor %} {% else %} {{ form.username() }} {% endif %}
      </div>

      <div>
        <!-- {{ form.email.label }} -->
        {% if form.email.errors %} {{ form.email(id="input-border-error") }} {%
        for error in form.email.errors %}
        <p class="form-error-message">{{ error }}</p>
        {% endfor %} {% else %} {{ form.email() }} {% endif %}
      </div>

      <div class="upload-picture">
        <!-- {{ form.profile_pic.label }} -->
        {% if form.profile_pic.errors %} {{ form.profile_pic(class="form-input
        file-input", id="input-border-error") }} {% for error in
        form.profile_pic.errors %}
        <p class="form-error-message">{{ error }}</p>
        {% endfor %} {% else %} {{ form.profile_pic(class="form-input
        file-input") }} {% endif %}
      </div>
      {{ form.update(class='update-btn') }}
    </form>
  </div>
</section>

<script src="{{ url_for('static', filename='js/account.js') }}"></script>

{% endblock %}
