<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/reset_email.css') }}"
    />

    <!-- font awsome icon -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-..."
      crossorigin="anonymous"
    />

    <!-- title -->
    <title>NARRATIV-reset password</title>
  </head>
  <body>
    <header class="header">
      <nav class="base-nav">
        <ul class="menu-list">
          <li>
            <a href="{{ url_for('main.index_page') }}">
              NARRATIV <i class="fas fa-book"></i>
            </a>
          </li>
        </ul>

        <ul class="user-action hide-dropdown">
          {% if current_user.is_authenticated %}
          <li>
            <a href="{{ url_for('posts.create_post') }}">
              <i class="fas fa-pencil-alt"></i> New Post
            </a>
          </li>

          <li>
            <a href="{{ url_for('users.account_page') }}">
              <i class="fas fa-user"></i> Profile
            </a>
          </li>
          <li>
            <a href="{{ url_for('users.logout') }}">
              <i class="fas fa-sign-out-alt"></i> Logout
            </a>
          </li>
          {% else %}
          <li>
            <a href="{{ url_for('users.login_page') }}">
              <i class="fas fa-sign-in-alt"></i> Sign in
            </a>
          </li>
          <li>
            <a href="{{ url_for('users.register_page') }}">
              <i class="fas fa-user-plus"></i> Sign up
            </a>
          </li>

          {% endif %}
        </ul>
      </nav>
      <div class="spinner-container">
        <div class="spinner"></div>
      </div>
    </header>

    <div class="feedback feedback--success">
      <i class="fas fa-check-circle"></i>
      <span>hellow</span>
    </div>
    <section class="reset-section">
      <h2 class="email-label">Enter your email</h2>
      <form class="reset-form" novalidate>
        <div class="reset-container">
          <input
            type="text"
            id="email"
            title="Email"
            placeholder="Enter your email"
          />
          <button>send</button>
        </div>
      </form>

      <script src="{{ url_for('static', filename='js/reset_email.js') }}"></script>
    </section>
  </body>
</html>
