* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a,
li {
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  list-style: none;
}

span {
  font-size: 1.5rem;
}
